body {
    background-color: white;
    text-align: center;
    color:white;
}

img {
    width: 270px;
    border-radius: 75%;
}

h1 {
    text-shadow: 2px 2px #7FFFD4;
    font-size: 20px;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

p {
    font-size: 24px;

}

#contact iframe {
    width: 100%;
}
